<div class="row">

	<div class="col-md-4 col-md-offset-4">
		<form>
			<div class="control-group">
				<label>Nation</label>
				<input type="text" class="form-control" ng-model="nation.name">
				<br>
				<label class="label-select" for="govTypeList">Government Type</label>
				<select name='govTypeList' class="form-control" ng-model='nation.ideoType' ng-options='types for types in govType'>
					<option value="">--Choose Government Type--</option>
				</select>
				<br>
				
			</div>
			<br>
			<div class='nation-flag-area'>
				<div ng-repeat="flag in flagArray">
					<input type="radio" class="form-control" name="flag" value="{{flag.flagUrl}}" ng-model="nation.flag">
					<img ng-src='{{flag.flagUrl}}'>
				</div>
			</div>
			<button class="center-block btn btn-lg" ng-click="submit(nation)">Submit</button>
		</form>
	</div>



</div>