<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
	<h1>Test user info output</h1>
		<h2>Name: {{user.firstname}} {{user.lastname}}</h2>
		<h2>username: {{user.username}}</h2>
	</div>
	<div class="col-xs-10">
		<button class="btn btn-lg" ng-click="updateProfile()">Update Profile</button>
		<div class="row" ng-hide='show'>
			<div class="col-md-4 col-md-offset-4">
				<h1>Update your Information</h1>

				<form>
					<div class="control-group">
						<label>First Name</label>
						<input type="text" class="form-control" ng-model="user.firstname">
					</div>
					<br>

					<div class="control-group">
						<label>Last Name</label>
						<input type="text" class="form-control" ng-model="user.lastname">
					</div>
					<br>

					<div class="control-group">
						<label>Email</label>
						<input type="text" class="form-control" ng-model="user.email">
					</div>
					<br>

					<div class="control-group">
						<label>Password</label>
						<input type="password" class="form-control" ng-model="newPassword">
					</div>
					<br>


					<div class="control-group">
						<label>Password</label>
						<input type="password" class="form-control" ng-model="passwordRepeat">
						<span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
					</div>

					<br>
					<button class="center-block btn btn-primary btn-lg" ng-click="change(user, newPassword)">Signup</button>
				</form>
			</div>
		</div>
	</div>
</div>